.App {
  text-align: left;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1d2d4;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;}

.App-navbar {
  color: #13181a;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #345f52, #7c1f76);
}

.App-link {
  color: #8fc8d8;
}

.trixDiv {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  margin-top: 10px;
}

.trix {
  background-color: white;
  color:#0b455b;
  font-size: 15px;
  overflow-y: auto;
  min-height: 600px !important;
}
.userButtons {
  position: relative;
}

.saveBtn {
  background-color: #345f52;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  border: 0.5 solid rgb(17, 16, 16);
}

.userBtn {
  background-color: #7c1f76;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  border: 0.5 solid rgb(28, 27, 27);
}

.form {
  position: relative;
  width: 30%;
  height: 100%;
  padding: 50px 30px 0;
}

.form h2 {
  width: 100%;
  text-align: center;
}

label {
  display: block;
  width: 100%;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  color:rgb(184, 179, 179);
  font-size: 12px;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-top: 0;
  border-right: 0;
  border-left: 0; 
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

.submit {
  margin-left: 10px;
  padding: 5px;
  background: #eda9e5;
  color: rgb(1, 1, 1);
}

.register {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 5px;
  background: #af99ad;
  color: rgb(4, 4, 4);
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.user p {
  margin: 5px;
  font-size: 14px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
