.App {
  text-align: left;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1d2d4;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  text-shadow:
  -1px 1px 0px white;
  color: #345f52;
  text-align: center;
}

.code-header {
  background-color: #345f52;
  color: #f1d2d4;
  text-shadow:
  -1px 1px 0px black;
}

.code-toggle {
  background-color: #345f52;
}

.App-navbar {
  color: #13181a;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #345f52, #7c1f76);
}

.App-link {
  color: #8fc8d8;
}

.trixDiv {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  margin-top: 10px;
}

.trix {
  background-color: white;
  color:#0b455b;
  font-size: 15px;
  overflow-y: auto;
  min-height: 600px !important;
  max-width: 50em;
}

.code-editor {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 20px;
}

.code-editor button {
  height: fit-content;
  margin-left: 10px;
  padding: 5px;
  background-color: #3f3d3f;
  color: #d5cfd5;
  border-radius: 5px;
  cursor: pointer;
}

.code-editor button:hover {
  background-color: #bbc0c2;
  color:#7c1f76;
}

.closeDiv {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.closeBtn {
  width: fit-content;
}

.userButtons {
  display: flex;
  position: relative;
}

.print {
  font-size: 30px;
  padding: 0;
}

.saveBtn {
  background-color: #345f52;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  border: 0.5 solid rgb(17, 16, 16);
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #61af97;
}

.userBtn {
  background-color: #7c1f76;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  border: 0.5 solid rgb(28, 27, 27);
  cursor: pointer;
}

.userBtn:hover {
  background-color: #c432ba;
}

.form {
  position: relative;
  width: 30%;
  height: 100%;
  padding: 50px 30px 0;
}

.form h2 {
  width: 100%;
  text-align: center;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f1d2d4;
}

.code-toggle {
  background-color: #345f52;
  color: white;
}

.toggle p {
  margin-top: 25px;
}

.switch {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-right: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.switch input {display: none}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 2.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.input:checked + .slider {
  background-color: rgb(42, 39, 39);
}

.input:checked + .slider:before {
  transform: translateX(25px);
}

label {
  display: block;
  width: 100%;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  color:rgb(184, 179, 179);
  font-size: 12px;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-top: 0;
  border-right: 0;
  border-left: 0; 
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

.submit {
  margin-left: 10px;
  padding: 5px;
  background: #eda9e5;
  color: rgb(1, 1, 1);
  cursor: pointer;
}

.submit:hover {
  background-color: #eec4eb;
}

.register {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 5px;
  background: #af99ad;
  color: rgb(4, 4, 4);
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.user p {
  margin: 5px;
  font-size: 14px;
}

.modalTitle {
  font-size: 30px;
  color: #345f52;
  text-shadow:
  -1px 1px 0px white;
  text-align: center;
}

.modalForm label{
  padding: 10px;
}

.modalForm textarea {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 96%;
}

.modalForm input {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
