.App {
  text-align: left;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1d2d4;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;}

.App-navbar {
  color: #13181a;
  margin-top: 0px;
}

.App-link {
  color: #8fc8d8;
}

.trixDiv {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  margin-top: 10px;
}

.trix {
  background-color: white;
  color:#0b455b;
  font-size: 15px;
  overflow-y: auto;
  min-height: 600px !important;
}

.saveBtn {
  background-color: #345f52;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.5 solid rgb(184, 179, 179);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
